@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
    font-family: 'Montserrat';
    max-width: 80%;
    margin:auto;
    columns:#333;
}
.header{
display  : flex;
align-items: center;
}
.profile{
    width: 20%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 2%;
}
.title{
    flex: 1;
    margin-left: 5%;
}
.name{
    color: gray;
}
.qualification{
    letter-spacing: 1px;
}
.color{
    color: coral;
    min-width: 115px;

}
.hrline{
    border: 1px solid coral;
}
.left{
    min-width: 210px;
    font-size: 150%;
    color: coral;
    display: block;
}

.space{
    margin-top: 3%;
}
.largetext{
    font-size: 150%;
    line-height: 150%;
    color:green;
}
.smalltext{
    font-weight: 100px;
    line-height: 175%;
    
}
.minileft{
    margin-bottom: 3%;
    display: block;
}

.footer{
    margin-bottom: 3%;
    text-align: center;
    color: gray;
}